<div class="page-header">
  <h3>Status Update #<%= @status_update.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Status</dt>
      <dd><%= @status_update.status %></dd>

      <dt>Poster</dt>
      <dd><%= @status_update.poster_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/status_updates" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @status_update.poster %>
        <a href="/status_updates/<%= @status_update.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_status_update/<%= @status_update.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Status update has many status_comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Status_comments
      </li>

      <% @status_update.status_comments.each do |status_comment| %>
        <li class="list-group-item">
          <a href="/status_comments/<%= status_comment.id %>">
            <%= status_comment.status_id %>
          </a>
          <a href="/status_comments/<%= status_comment.id %>" class="btn btn-primary">
            Show
          </a>
          <a href="/status_comments/<%= status_comment.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_status_comment/<%= status_comment.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_status_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for status_id -->
      <div class="form-group">
        <label for="status_id" class="control-label">
          Status
        </label>

        <%= select_tag(:status_id, options_from_collection_for_select(StatusUpdate.all, :id, :status), :class => "form-control") %>
      </div>

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <input type="text" id="comment" name="comment" placeholder="Comment" class="form-control" value="">
      </div>

      <!-- Label and input for commenter_id -->
      <input type="hidden" name="commenter_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Status Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
